<section class="section-filter">
  <div class="dropdown ">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Categorias
    </button>
    <ul class="dropdown-menu" id="category-filter">

    </ul>
  </div>

  <div class="dropdown ">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Filtrar por precio
    </button>
    <ul class="dropdown-menu" id="category-filter">
      <li><a  class="dropdown-item" onclick="getProducts()" href="{{{path}}}sort=asc">De menor a mayor</a>
      </li>
      <li><a  class="dropdown-item" onclick="getProducts()" href="{{{path}}}sort=des">De mayor a menor</a>
      </li>
    </ul>
  </div>

  <div class="dropdown ">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Filtrar por disponibilidad
    </button>
    <ul class="dropdown-menu" id="category-filter">
      <li><a id="sort-asc" class="dropdown-item" onclick="getProducts()" >Disponible</a></li>
      <li><a id="sort-des" class="dropdown-item" onclick="getProducts()" >No disponible</a></li>
    </ul>
  </div>

  <a href="/">
    <button class="btn btn-primary" type="button">
      Borrar filtros
    </button>
  </a>
</section>

<script>
  const sortAsc = document.getElementById("sort-asc")
  const sortDes = document.getElementById("sort-des")

  const url = window.location.href
  console.log("url script", url)
  sortAsc.href = `/?query=${encodeURIComponent(JSON.stringify({ "status": "true" }))}`
  sortDes.href = `/?query=${encodeURIComponent(JSON.stringify({ "status": "false" }))}`
</script>