<header>
    <section class="header-title">
        Mi carrito | Web sockets | handlebars
    </section>
    <nav>
        <a href="/">Productos</a>
        <a href="/realtimeproducts">Productos Real Time</a>
    </nav>
</header>