<nav aria-label="Page navigation example">
    <ul class="pagination" id="pagination">
        <li class="page-item">
            <a class="page-link" id="page-prev" href={{{prevLink}}} aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previo</span>
            </a>
        </li>
        <li onclick="getProducts()" class="page-item"><a class="page-link" href="/?page=1">1</a></li>
        <li onclick="getProducts()" class="page-item"><a class="page-link" href="/?page=2">2</a></li>
        <li class="page-item">
            <a class="page-link" id="page-next" href={{{nextLink}}} aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Siguiente</span>
            </a>
        </li>
    </ul>
</nav>